# Created by .ignore support plugin (hsz.mobi)
# pychram
.idea/

logs/

__pycache__/

output/

data/raw/
data/wordvec/
data/preprocessed/DBLP_processed/
data/preprocessed/ACM_processed/

checkpoint/

.ipynb_checkpoints/

cookies.txt 


plots/
